body {
	font-family: Helvetica, Arial;
	background-color: #E0E0E2
}

a {
	text-decoration: none;
	color: blue;

}

h1, h2, h3 {
	margin: 0;
}

#container {
	background-color: #B9BFF5;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
#header{
	background-color: #626873;
	color: white;
	text-align: center;

}
#content {
	padding: 10px
}

#nav {
	width: 180px;
	float: left;

}

#nav ul{
list-style-type: none;
padding: 0;
margin: 10px; 
 }

#main {
	width: 600px;
	float: right;

}

#footer {
	clear: both;
	padding: 10px;
	background-color: #999999;
	color: white;
	text-align: right;
	
}
